<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>DIN TAI FUNG</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../public/stylesheets/customerWaitlistStyle.css">
</head>
<body>

<!-- <h3 class = "appTitle">Wayt Less</h3> -->
<img class = "appTitle" src="../public/images/LOGO.png" alt="Wayt less" width="80" height="80"><br><br><br>
	
	
	<button class = "homeBtn">HOME</button>
	<button class = "optionsBtn">OPTIONS</button>

	<div class="container">
		<p></p>
		<h1>DIN TAI FUNG</h1>
		<p></p>
		<div class="queueStatus">
			<div class="row">
				<div class="col-lg-6">
					<h4>Number of groups: <span class="badge badge-secondary badge-pill">3</span></h4>
				</div>
				<div class="col-lg-6">
					<h4>Average Wait Time (in minutes): <span class="badge badge-secondary badge-pill">10</span></h4>
				</div>
			</div>
		</div>
		<p></p>
		<div class="queuetable">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Group Size</th>
						<th>Time joined</th>
						<th>Wait</th>
						<th>Status</th>
						<th>Action (Admin Only)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>3</td>
						<td>2:00 PM</td>
						<th>20 min</td>
						<td><button type="button" class="btn btn-warning">Table is almost ready!</button></td>
						<td>
							<button type="button" class="btn btn-primary">View</button>
							<button type="button" class="btn btn-primary">Edit</button>
							<button type="button" class="btn btn-primary">Delete</button>
							<button type="button" class="btn btn-primary">Send SMS</button>
							<button type="button" class="btn btn-primary">No Show</button>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>4</td>
						<td>2:10 PM</td>
						<td>10 min</td>
						<td><button type="button" class="btn btn-info">Notification Sent.</button></td>
						<td>
							<button type="button" class="btn btn-primary">View</button>
							<button type="button" class="btn btn-primary">Edit</button>
							<button type="button" class="btn btn-primary">Delete</button>
							<button type="button" class="btn btn-primary">Send SMS</button>
							<button type="button" class="btn btn-primary">No Show</button>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>2</td>
						<td>2:15 PM</td>
						<td>5 min</td>
						<td></td>
						<td>
								<button type="button" class="btn btn-primary">View</button>
								<button type="button" class="btn btn-primary">Edit</button>
								<button type="button" class="btn btn-primary">Delete</button>
								<button type="button" class="btn btn-primary">Send SMS</button>
								<button type="button" class="btn btn-primary">No Show</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<button class = "selectMenuBtn">MENU</button>




	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>