@CHARSET "ISO-8859-1";
h1{
	text-align : center;
}

input{
    width: 80%;
  padding: 15px;
  margin: 3px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.reserveSpot{
	width:42%;
	border: 2px solid #808080;
  border-radius: 5px;
  padding: 10px;
}

.reserveBtn{
	background-color: #000000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.reservationStatus{
	
  position: absolute;
  top: 80px;
  right: 40px;
  width: 50%;
  height: 100px;
  border: 2px solid #808080;
  border-radius: 5px;
  padding: 10px;
}

.selectMenuBtn{
	
  background-color: #ff0000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
  border-radius: 8px;
}

.selectMenuBtn:hover {
  background-color: #000000; 
  color: white;
}

.reserveBtn:hover {
  background-color: #808080; 
  color: white;
}
